.container{
    
    
}
.header1{
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height, or 122% */


    color: #000000;
    }
.partation2{
        padding-bottom:70px ;
        padding-top:70px ;
        padding-left: 122px;
        padding-right: 122px;
        display: flex;
        background-color: #F8F8F8;
    }
.left2{
        width: 50%;
        
    }
.recentcontainer{
    position: relative;
    height: 504px;
    width: 574px;
    margin-top: 25px;
}
.readmoreprojects{
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */

    display: flex;
    align-items: center;

    color: #000000;
    margin-left: 5px;
    cursor: pointer;


}
.recentoverlay{
    position: absolute;
    width: 566px;
    height: 475px;
    top:  0;
    left: 0;
    z-index: 3;
    /* padding-top: 25%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    padding-left: 32px;
    padding-right: 32px;
    background: rgba(22, 22, 22, 0.8);
    transition-duration: .3s;
    opacity: 0;
}
.recentoverlay:hover{
    opacity: .8;
}
.readcontainer{
    
    display: flex;
    margin-top: -10px;
}
.viewmore{
    display: flex;
    margin-top: 20px;
}
.readmore{
    margin-left: 7px;
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */

    display: flex;
    cursor: pointer;

    color: white;
    
}
.overlayheader{
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
    margin-top: -5px;
    /* or 127% */
    
    display: flex;
    align-items: center;
    
    color: #FFFFFF;

}
.date{
    

    margin-left: 8px;
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}
.rdateoverlay{

}
.right2{
        width: 50%;
    }
    .line{
        width: 200px;
        height: 0px;
        margin-right: 15px;
        margin-top: 44px;
        border: 1px solid #1791A0;
        background-color: #1791A0;
    }
.desc{
        font-family: Overpass;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        /* or 140% */
        box-shadow: black;
        display: flex;
        align-items: center;
    
        color: #808080;
        margin-bottom: 25px;
    }
    @media only screen and (max-width: 800px){
        .left2{
            width: 100%;
            margin: auto;
            justify-content:center;
            
        }
    .right2{
            width: 100%;
            margin: auto;
            justify-content:center;
        }
        .partation2{
            flex-direction: column;
            justify-content:center;
            padding-left: 12px;
            padding-right: 12px;
            
            

        }
        
    }