.container{
    
    
}
.header1{
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height, or 122% */


    color: #000000;
    }
.plus{
    position: absolute;
    left: 0;
    bottom:0;
    z-index: 9;
    width: 60px;
    height: 60px;
}
.partation2{
    padding-bottom:70px ;
    padding-top:70px ;
    padding-left: 122px;
    padding-right: 122px;
    display: flex;
    background-color: #F8F8F8;
}
.left2{
    width: 50%;
    
}
.right2{
    width: 50%;
}
.dogoverlay{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
    width: 574px;
    height: 475px;
    background-color: rgba(7, 7, 7, 0.6);
    z-index: 2;
    opacity: 0;
}
.dogoverlaytextheader{
    position: absolute;
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
    /* or 127% */
    color: white;
    display: flex;
    top:117px;
    left: 32px;
    text-align: left;

}
.dogreadmore{
    margin-left: 7px;
}
.dogoverlayreadmore{
    position: absolute;
    left: 32px;
    top:330px;
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    display: flex;
    align-items: center;

    color: #DFDFDF;
    display: flex;
}
.dogoverlaytextpara{
    left:32px;
    top:260px;
    position: absolute;
    
    text-align: left;
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    width: 80%;
    display: flex;
    align-items: center;

    color: #DFDFDF;
}
.dogoverlaytime{
    color: white;
    top:220px;
    display: flex;
    position: absolute;
    left: 32px;
    opacity: .7;
    font-size: 12px;
    line-height: 20px;
}

.dogoverlay:hover{
    opacity: .9;
}
.dogcontainer{
    width: 574px;
    height: 475px;
    position: relative;
    margin-top: 40px;
    box-shadow: rgb(12, 12, 12,.8) 3px 5px 6px;
    cursor: pointer;
   
    
}
.desc{
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    /* or 140% */
    box-shadow: black;
    display: flex;
    align-items: center;

    color: #808080;
}
.readmore{


    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 100% */
    margin-left: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #000000;
}
.partation1{
    display: flex;
    padding: 122px;
    padding-bottom:70px ;
}
.line{
    width: 200px;
    height: 0px;
    margin-right: 15px;
    margin-top: 44px;
    border: 1px solid #1791A0;
    background-color: #1791A0;
}
.left1{
    
    width: 50%;
    padding-right: 15px;
}
.viewmore{
    display: flex;
    margin-top: 20px;
}
.right1{
    
    margin-left: 5px;
    width: 50%;
}
.dogright{
    width: 570px;
    height: 434px;
    box-shadow: rgb(12, 12, 12,.8) 3px 5px 6px;
}
@media only screen and (max-width: 1250px){
    .partation1{
        display: block;
    }
    .partation2{
        display: block;
    }
    .left1{
        display: flex;
        width: 100%;
        padding-right: 0px;
    }
    .right1{
        
        width: 100%;
    }
    .left2{
        width: 100%;
    }
    .left2{
        width: 100%;
    }
}