.container{
    width: 372px;
    cursor: pointer;
    height: 550px;
    margin-top: 35px;
    
}
.container:hover{
    box-shadow: rgb(12, 12, 12,.5) 3px 5px 8px;
    /* transform: scale(1.05); */
    transform: translate(-0px, -50px);
    transition-duration: .3s;
}
.iconcontainer{
    display: flex;
    width: 70px;
    margin-top: 5px;
    justify-content: space-between;
    
}
.header{
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */

    display: flex;
    align-items: center;

    color: #000000;
}
.desc{
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    display: flex;
    align-items: center;

    color: #808080;

}